<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang='en'>
  <head>
    <title>: ActionView::Template::Handlers::Compilable [Rails Framework Documentation]</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <link href='../../../../rdoc-style.css' media='screen' rel='stylesheet' type='text/css'>
    <script type='text/javascript'>
      //<![CDATA[
        function popupCode(url) {
          window.open(url, "Code", "resizable=yes,scrollbars=yes,toolbar=no,status=no,height=150,width=400")
        }
        
        function toggleCode(id) {
          var code = document.getElementById(id)
        
          code.style.display = code.style.display != 'block' ? 'block' : 'none'
          return true
        }
        
        // Make codeblocks hidden by default
        document.writeln('<' + 'style type="text/css">.method .source pre { display: none }<\/style>')
      //]]>
    </script>
  </head>
  <body class='page'>
    <div class='class' id='wrapper'>
      <div class='header'>
        <h1 class='name'>
          <span class='type'>Module</span>
          ActionView::Template::Handlers::Compilable
        </h1>
        <ol class='paths'>
          <li>
            <a href="../../../../files/vendor/gems/gems/actionpack-3_0_0_beta/lib/action_view/template/handler_rb.html">vendor/gems/gems/actionpack-3.0.0.beta/lib/action_view/template/handler.rb</a>
          </li>
        </ol>
      </div>
      <div id='content'>
        <div id='text'>
          <div id='method-list'>
            <h2>Methods</h2>
            <h3>public class</h3>
            <ol>
              <li><a href="#M000614">included</a></li>
            </ol>
            <h3>public instance</h3>
            <ol>
              <li><a href="#M000615">compile</a></li>
            </ol>
          </div>
          <div id='section'>
            <div id='class-list'>
              <h2>Classes and Modules</h2>
              Module <a href="Compilable/ClassMethods.html" class="link">ActionView::Template::Handlers::Compilable::ClassMethods</a><br />
            </div>
            <div id='methods'>
              <h2>Public class methods</h2>
              <div class='method public-class' id='method-M000614'>
                <a name='M000614'></a>
                <div class='synopsis'>
                  <span class='name'>included</span>
                  <span class='arguments'>(base)</span>
                </div>
                <div class='source'>
                  <a class='source-toggle' href='#' onclick="toggleCode('M000614-source'); return false">
                    [show source]
                  </a>
                  <pre id='M000614-source'>    <span class="ruby-comment cmt"># File vendor/gems/gems/actionpack-3.0.0.beta/lib/action_view/template/handler.rb, line 9</span>&#x000A; 9:         <span class="ruby-keyword kw">def</span> <span class="ruby-keyword kw">self</span>.<span class="ruby-identifier">included</span>(<span class="ruby-identifier">base</span>)&#x000A;10:           <span class="ruby-identifier">base</span>.<span class="ruby-identifier">extend</span>(<span class="ruby-constant">ClassMethods</span>)&#x000A;11:         <span class="ruby-keyword kw">end</span></pre>
                </div>
              </div>
              <h2>Public instance methods</h2>
              <div class='method public-instance' id='method-M000615'>
                <a name='M000615'></a>
                <div class='synopsis'>
                  <span class='name'>compile</span>
                  <span class='arguments'>(template)</span>
                </div>
                <div class='source'>
                  <a class='source-toggle' href='#' onclick="toggleCode('M000615-source'); return false">
                    [show source]
                  </a>
                  <pre id='M000615-source'>    <span class="ruby-comment cmt"># File vendor/gems/gems/actionpack-3.0.0.beta/lib/action_view/template/handler.rb, line 19</span>&#x000A;19:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">compile</span>(<span class="ruby-identifier">template</span>)&#x000A;20:           <span class="ruby-identifier">raise</span> <span class="ruby-node">&quot;Need to implement #{self.class.name}#compile(template)&quot;</span>&#x000A;21:         <span class="ruby-keyword kw">end</span></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id='footer-push'></div>
    </div>
    <div id='footer'>
      <a href="http://github.com/mislav/hanna/tree/master"><strong>Hanna</strong> RDoc template</a>
    </div>
  </body>
</html>
